In [2]:
print('Hello')

Hello

In [3]:
print("world!")

world!

In [4]:
import numpy as np
dataset = np.loadtxt("pl.csv", dtype={'names': ('name', 'year'), 'formats': ('U100', 'i4')},
   skiprows=1, delimiter=",")
print(dataset)

[("b'ENIAC coding system'", 1943) ("b'ENIAC Short Code'", 1946)
 ("b'Von Neumann and Goldstine graphing system'", 1946)
 ("b'ARC Assembly'", 1947) ("b'Plankalkul'", 1948)
 ("b'CPC Coding scheme'", 1948) ("b'Curry notation system'", 1948)
 ("b'Short Code'", 1949) ("b'assembly language'", 1949)
 ("b'Short Code'", 1950) ("b'G-code'", 1950)
 ("b'Birkbeck Assembler'", 1950) ("b'Superplan'", 1951) ("b'ALGAE'", 1951)
 ("b'Intermediate Programming Language'", 1951)
 ("b'Regional Assembly Language'", 1951)
 ("b'Boehm unnamed coding system'", 1951) ("b'Klammerausdrucke'", 1951)
 ("b'OMNIBAC Symbolic Assembler'", 1951) ("b'Stanislaus'", 1951)
 ("b'Whirlwind assembler'", 1951) ("b'Rochester assembler'", 1951)
 ("b'Sort Merge Generator'", 1951) ("b'autocode'", 1952)
 ("b'A-0 System'", 1952) ("b'Editing Generator'", 1952)
 ("b'COMPOOL'", 1952) ("b'Speedcoding'", 1953) ("b'READ/PRINT'", 1953)
 ("b'Fortran'", 1954) ("b'ARITH-MATIC'", 1954) ("b'autocode'", 1954)
 ("b'Laning and Zierler system'", 1954) ("b'MATH-MATIC'", 1954)
 ("b'MATRIX MATH'", 1954) ("b'FLOW-MATIC'", 1955) ("b'PACT'", 1955)
 ("b'BACAIC'", 1955) ("b'Freiburger Code'", 1955)
 ("b'Sequentielle Formelubersetzung'", 1955)
 ("b'Internal Translator'", 1955) ("b'PRINT'", 1955)
 ("b'Information Processing Language'", 1956)
 ("b'FORTRAN for the IBM 704'", 1956) ("b'Fortran'", 1957)
 ("b'COMTRAN'", 1957) ("b'GEORGE'", 1957) ("b'UNICODE'", 1957)
 ("b'ALGOL 58'", 1958) ("b'Lisp'", 1958) ("b'ALGOL'", 1958)
 ("b'FORTRAN III'", 1958) ("b'FORTRAN II'", 1958) ("b'JOVIAL'", 1959)
 ("b'TRAC'", 1959) ("b'COBOL'", 1959) ("b'MAD'", 1959) ("b'Lisp'", 1959)
 ("b'FACT'", 1959) ("b'COBOL'", 1960) ("b'ALCOR'", 1960)
 ("b'ALGOL 60'", 1960) ("b'FORTRAN IV'", 1961) ("b'TECO'", 1962)
 ("b'SNOBOL'", 1962) ("b'APL'", 1962) ("b'Simula'", 1962) ("b'CORC'", 1962)
 ("b'CPL'", 1963) ("b'JOSS'", 1963) ("b'Report Program Generator'", 1964)
 ("b'TRAC'", 1964) ("b'BASIC'", 1964) ("b'COWSEL'", 1964)
 ("b'MARK IV'", 1964) ("b'MIMIC'", 1964) ("b'PL/I'", 1964)
 ("b'Speakeasy'", 1964) ("b'IBM RPG II'", 1965) ("b'Atlas Autocode'", 1965)
 ("b'TELCOMP'", 1965) ("b'Euler'", 1966) ("b'ISWIM'", 1966)
 ("b'ALGOL W'", 1966)
 ("b'Massachusetts General Hospital Utility Multi-Programming System'", 1966)
 ("b'JOSS'", 1966) ("b'Coral 66'", 1966) ("b'BCPL'", 1966) ("b'APL'", 1966)
 ("b'FORTRAN 66'", 1966)
 ("b'Massachusetts General Hospital Utility Multi-Programming System'", 1967)
 ("b'Hop'", 1967) ("b'XPL'", 1967) ("b'Interlisp'", 1967) ("b'BCPL'", 1967)
 ("b'Simula'", 1967) ("b'Space Programming Language'", 1967)
 ("b'PILOT'", 1968) ("b'ALGOL 68'", 1968)]

In [71]:
import numpy as np
dataset = np.loadtxt("pl.tsv", dtype={'names': ('name', 'year'), 'formats': ('U100', 'i4')},
   skiprows=1, delimiter="\t")
print(dataset)

[("b'ENIAC coding system'", 1943) ("b'ENIAC Short Code'", 1946)
 ("b'Von Neumann and Goldstine graphing system'", 1946)
 ("b'ARC Assembly'", 1947) ("b'Plankalkul'", 1948)
 ("b'CPC Coding scheme'", 1948) ("b'Curry notation system'", 1948)
 ("b'Short Code'", 1949) ("b'assembly language'", 1949)
 ("b'Short Code'", 1950) ("b'Birkbeck Assembler'", 1950)
 ("b'G-code'", 1950) ("b'Superplan'", 1951) ("b'ALGAE'", 1951)
 ("b'Intermediate Programming Language'", 1951)
 ("b'Regional Assembly Language'", 1951)
 ("b'Boehm unnamed coding system'", 1951) ("b'Klammerausdrucke'", 1951)
 ("b'OMNIBAC Symbolic Assembler'", 1951) ("b'Stanislaus'", 1951)
 ("b'Whirlwind assembler'", 1951) ("b'Rochester assembler'", 1951)
 ("b'Sort Merge Generator'", 1951) ("b'Editing Generator'", 1952)
 ("b'COMPOOL'", 1952) ("b'autocode'", 1952) ("b'A-0 System'", 1952)
 ("b'READ/PRINT'", 1953) ("b'Speedcoding'", 1953) ("b'Fortran'", 1954)
 ("b'MATRIX MATH'", 1954) ("b'autocode'", 1954) ("b'ARITH-MATIC'", 1954)
 ("b'Laning and Zierler system'", 1954) ("b'MATH-MATIC'", 1954)
 ("b'FLOW-MATIC'", 1955) ("b'BACAIC'", 1955) ("b'Freiburger Code'", 1955)
 ("b'Sequentielle Formelubersetzung'", 1955)
 ("b'Internal Translator'", 1955) ("b'PRINT'", 1955) ("b'PACT'", 1955)
 ("b'Information Processing Language'", 1956)
 ("b'FORTRAN for the IBM 704'", 1956) ("b'Fortran'", 1957)
 ("b'UNICODE'", 1957) ("b'COMTRAN'", 1957) ("b'GEORGE'", 1957)
 ("b'ALGOL 58'", 1958) ("b'Lisp'", 1958) ("b'FORTRAN III'", 1958)
 ("b'FORTRAN II'", 1958) ("b'ALGOL'", 1958) ("b'JOVIAL'", 1959)
 ("b'TRAC'", 1959) ("b'COBOL'", 1959) ("b'Lisp'", 1959) ("b'MAD'", 1959)
 ("b'FACT'", 1959) ("b'COBOL'", 1960) ("b'COBOL'", 1960)
 ("b'ALGOL 60'", 1960) ("b'ALCOR'", 1960) ("b'FORTRAN IV'", 1961)
 ("b'SNOBOL'", 1962) ("b'TECO'", 1962) ("b'Simula'", 1962) ("b'APL'", 1962)
 ("b'CORC'", 1962) ("b'CPL'", 1963) ("b'JOSS'", 1963)
 ("b'Report Program Generator'", 1964) ("b'TRAC'", 1964) ("b'BASIC'", 1964)
 ("b'COWSEL'", 1964) ("b'PL/I'", 1964) ("b'MARK IV'", 1964)
 ("b'MIMIC'", 1964) ("b'Speakeasy'", 1964) ("b'IBM RPG II'", 1965)
 ("b'Atlas Autocode'", 1965) ("b'TELCOMP'", 1965) ("b'Euler'", 1966)
 ("b'ISWIM'", 1966) ("b'ALGOL W'", 1966) ("b'JOSS'", 1966)
 ("b'Massachusetts General Hospital Utility Multi-Programming System'", 1966)
 ("b'BCPL'", 1966) ("b'Coral 66'", 1966) ("b'FORTRAN 66'", 1966)
 ("b'APL'", 1966) ("b'Hop'", 1967)
 ("b'Massachusetts General Hospital Utility Multi-Programming System'", 1967)
 ("b'Space Programming Language'", 1967) ("b'BCPL'", 1967)
 ("b'Interlisp'", 1967) ("b'Simula'", 1967) ("b'XPL'", 1967)
 ("b'PILOT'", 1968)]

In [70]:
import numpy as np
dataset = np.loadtxt("pl.tsv", dtype={'names': ('name', 'year'), 'formats': ('U100', 'i4')},
   skiprows=1, delimiter="\t")
print(dataset)

[("b'ENIAC coding system'", 1943) ("b'ENIAC Short Code'", 1946)
 ("b'Von Neumann and Goldstine graphing system'", 1946)
 ("b'ARC Assembly'", 1947) ("b'Plankalkul'", 1948)
 ("b'CPC Coding scheme'", 1948) ("b'Curry notation system'", 1948)
 ("b'Short Code'", 1949) ("b'assembly language'", 1949)
 ("b'Short Code'", 1950) ("b'Birkbeck Assembler'", 1950)
 ("b'G-code'", 1950) ("b'Superplan'", 1951) ("b'ALGAE'", 1951)
 ("b'Intermediate Programming Language'", 1951)
 ("b'Regional Assembly Language'", 1951)
 ("b'Boehm unnamed coding system'", 1951) ("b'Klammerausdrucke'", 1951)
 ("b'OMNIBAC Symbolic Assembler'", 1951) ("b'Stanislaus'", 1951)
 ("b'Whirlwind assembler'", 1951) ("b'Rochester assembler'", 1951)
 ("b'Sort Merge Generator'", 1951) ("b'Editing Generator'", 1952)
 ("b'COMPOOL'", 1952) ("b'autocode'", 1952) ("b'A-0 System'", 1952)
 ("b'READ/PRINT'", 1953) ("b'Speedcoding'", 1953) ("b'Fortran'", 1954)
 ("b'MATRIX MATH'", 1954) ("b'autocode'", 1954) ("b'ARITH-MATIC'", 1954)
 ("b'Laning and Zierler system'", 1954) ("b'MATH-MATIC'", 1954)
 ("b'FLOW-MATIC'", 1955) ("b'BACAIC'", 1955) ("b'Freiburger Code'", 1955)
 ("b'Sequentielle Formelubersetzung'", 1955)
 ("b'Internal Translator'", 1955) ("b'PRINT'", 1955) ("b'PACT'", 1955)
 ("b'Information Processing Language'", 1956)
 ("b'FORTRAN for the IBM 704'", 1956) ("b'Fortran'", 1957)
 ("b'UNICODE'", 1957) ("b'COMTRAN'", 1957) ("b'GEORGE'", 1957)
 ("b'ALGOL 58'", 1958) ("b'Lisp'", 1958) ("b'FORTRAN III'", 1958)
 ("b'FORTRAN II'", 1958) ("b'ALGOL'", 1958) ("b'JOVIAL'", 1959)
 ("b'TRAC'", 1959) ("b'COBOL'", 1959) ("b'Lisp'", 1959) ("b'MAD'", 1959)
 ("b'FACT'", 1959) ("b'COBOL'", 1960) ("b'COBOL'", 1960)
 ("b'ALGOL 60'", 1960) ("b'ALCOR'", 1960) ("b'FORTRAN IV'", 1961)
 ("b'SNOBOL'", 1962) ("b'TECO'", 1962) ("b'Simula'", 1962) ("b'APL'", 1962)
 ("b'CORC'", 1962) ("b'CPL'", 1963) ("b'JOSS'", 1963)
 ("b'Report Program Generator'", 1964) ("b'TRAC'", 1964) ("b'BASIC'", 1964)
 ("b'COWSEL'", 1964) ("b'PL/I'", 1964) ("b'MARK IV'", 1964)
 ("b'MIMIC'", 1964) ("b'Speakeasy'", 1964) ("b'IBM RPG II'", 1965)
 ("b'Atlas Autocode'", 1965) ("b'TELCOMP'", 1965) ("b'Euler'", 1966)
 ("b'ISWIM'", 1966) ("b'ALGOL W'", 1966) ("b'JOSS'", 1966)
 ("b'Massachusetts General Hospital Utility Multi-Programming System'", 1966)
 ("b'BCPL'", 1966) ("b'Coral 66'", 1966) ("b'FORTRAN 66'", 1966)
 ("b'APL'", 1966) ("b'Hop'", 1967)
 ("b'Massachusetts General Hospital Utility Multi-Programming System'", 1967)
 ("b'Space Programming Language'", 1967) ("b'BCPL'", 1967)
 ("b'Interlisp'", 1967) ("b'Simula'", 1967) ("b'XPL'", 1967)
 ("b'PILOT'", 1968)]

In [9]:
import numpy as np
dataset = np.loadtxt("pl.tsv", dtype={'names': ('name', 'year'), 'formats': ('U100', 'i4')},
   skiprows=1, delimiter="\t")
print(dataset)

[("b'ENIAC coding system'", 1943) ("b'ENIAC Short Code'", 1946)
 ("b'Von Neumann and Goldstine graphing system'", 1946)
 ("b'ARC Assembly'", 1947) ("b'Plankalkul'", 1948)
 ("b'CPC Coding scheme'", 1948) ("b'Curry notation system'", 1948)
 ("b'Short Code'", 1949) ("b'assembly language'", 1949)
 ("b'Short Code'", 1950) ("b'Birkbeck Assembler'", 1950)
 ("b'G-code'", 1950) ("b'Superplan'", 1951) ("b'ALGAE'", 1951)
 ("b'Intermediate Programming Language'", 1951)
 ("b'Regional Assembly Language'", 1951)
 ("b'Boehm unnamed coding system'", 1951) ("b'Klammerausdrucke'", 1951)
 ("b'OMNIBAC Symbolic Assembler'", 1951) ("b'Stanislaus'", 1951)
 ("b'Whirlwind assembler'", 1951) ("b'Rochester assembler'", 1951)
 ("b'Sort Merge Generator'", 1951) ("b'Editing Generator'", 1952)
 ("b'COMPOOL'", 1952) ("b'autocode'", 1952) ("b'A-0 System'", 1952)
 ("b'READ/PRINT'", 1953) ("b'Speedcoding'", 1953) ("b'Fortran'", 1954)
 ("b'MATRIX MATH'", 1954) ("b'autocode'", 1954) ("b'ARITH-MATIC'", 1954)
 ("b'Laning and Zierler system'", 1954) ("b'MATH-MATIC'", 1954)
 ("b'FLOW-MATIC'", 1955) ("b'BACAIC'", 1955) ("b'Freiburger Code'", 1955)
 ("b'Sequentielle Formelubersetzung'", 1955)
 ("b'Internal Translator'", 1955) ("b'PRINT'", 1955) ("b'PACT'", 1955)
 ("b'Information Processing Language'", 1956)
 ("b'FORTRAN for the IBM 704'", 1956) ("b'Fortran'", 1957)
 ("b'UNICODE'", 1957) ("b'COMTRAN'", 1957) ("b'GEORGE'", 1957)
 ("b'ALGOL 58'", 1958) ("b'Lisp'", 1958) ("b'FORTRAN III'", 1958)
 ("b'FORTRAN II'", 1958) ("b'ALGOL'", 1958) ("b'JOVIAL'", 1959)
 ("b'TRAC'", 1959) ("b'COBOL'", 1959) ("b'Lisp'", 1959) ("b'MAD'", 1959)
 ("b'FACT'", 1959) ("b'COBOL'", 1960) ("b'COBOL'", 1960)
 ("b'ALGOL 60'", 1960) ("b'ALCOR'", 1960) ("b'FORTRAN IV'", 1961)
 ("b'SNOBOL'", 1962) ("b'TECO'", 1962) ("b'Simula'", 1962) ("b'APL'", 1962)
 ("b'CORC'", 1962) ("b'CPL'", 1963) ("b'JOSS'", 1963)
 ("b'Report Program Generator'", 1964) ("b'TRAC'", 1964) ("b'BASIC'", 1964)
 ("b'COWSEL'", 1964) ("b'PL/I'", 1964) ("b'MARK IV'", 1964)
 ("b'MIMIC'", 1964) ("b'Speakeasy'", 1964) ("b'IBM RPG II'", 1965)
 ("b'Atlas Autocode'", 1965) ("b'TELCOMP'", 1965) ("b'Euler'", 1966)
 ("b'ISWIM'", 1966) ("b'ALGOL W'", 1966) ("b'JOSS'", 1966)
 ("b'Massachusetts General Hospital Utility Multi-Programming System'", 1966)
 ("b'BCPL'", 1966) ("b'Coral 66'", 1966) ("b'FORTRAN 66'", 1966)
 ("b'APL'", 1966) ("b'Hop'", 1967)
 ("b'Massachusetts General Hospital Utility Multi-Programming System'", 1967)
 ("b'Space Programming Language'", 1967) ("b'BCPL'", 1967)
 ("b'Interlisp'", 1967) ("b'Simula'", 1967) ("b'XPL'", 1967)
 ("b'PILOT'", 1968)]

In [10]:
from pandas.io.json import json_normalize
import pandas as pd
import json

data = json.load(open('pl.json'))
dataframe = json_normalize(data)
print(dataframe)

                                        languageLabel  year
0                                 ENIAC coding system  1943
1                                    ENIAC Short Code  1946
2           Von Neumann and Goldstine graphing system  1946
3                                        ARC Assembly  1947
4                                          Plankalkul  1948
5                                   CPC Coding scheme  1948
6                               Curry notation system  1948
7                                          Short Code  1949
8                                   assembly language  1949
9                                          Short Code  1950
10                                 Birkbeck Assembler  1950
11                                             G-code  1950
12                                          Superplan  1951
13                                              ALGAE  1951
14                  Intermediate Programming Language  1951
15                         Regional Assembly Language  1951
16                        Boehm unnamed coding system  1951
17                                   Klammerausdrucke  1951
18                         OMNIBAC Symbolic Assembler  1951
19                                         Stanislaus  1951
20                                Whirlwind assembler  1951
21                                Rochester assembler  1951
22                               Sort Merge Generator  1951
23                                  Editing Generator  1952
24                                            COMPOOL  1952
25                                           autocode  1952
26                                         A-0 System  1952
27                                         READ/PRINT  1953
28                                        Speedcoding  1953
29                                            Fortran  1954
..                                                ...   ...
70                                               JOSS  1963
71                                                  P  1964
72                           Report Program Generator  1964
73                                               TRAC  1964
74                                              BASIC  1964
75                                             COWSEL  1964
76                                               PL/I  1964
77                                            MARK IV  1964
78                                              MIMIC  1964
79                                          Speakeasy  1964
80                                         IBM RPG II  1965
81                                     Atlas Autocode  1965
82                                            TELCOMP  1965
83                                              Euler  1966
84                                              ISWIM  1966
85                                            ALGOL W  1966
86                                               JOSS  1966
87  Massachusetts General Hospital Utility Multi-P...  1966
88                                               BCPL  1966
89                                           Coral 66  1966
90                                         FORTRAN 66  1966
91                                                APL  1966
92                                                Hop  1967
93  Massachusetts General Hospital Utility Multi-P...  1967
94                         Space Programming Language  1967
95                                               BCPL  1967
96                                          Interlisp  1967
97                                             Simula  1967
98                                                XPL  1967
99                                              PILOT  1968

[100 rows x 2 columns]

In [76]:
from pandas.io.json import json_normalize
import pandas as pd
import json

data = json.load(open('query.json'))
dataframe = json_normalize(data)
print(dataframe)

                              instance_of       instance_ofLabel
0    http://www.wikidata.org/entity/Q2366            AngelScript
1    http://www.wikidata.org/entity/Q2378           Visual Basic
2    http://www.wikidata.org/entity/Q2407                    C++
3    http://www.wikidata.org/entity/Q5288  Tool Command Language
4    http://www.wikidata.org/entity/Q5301                    TeX
5   http://www.wikidata.org/entity/Q13743    Visual Basic Script
6   http://www.wikidata.org/entity/Q15777                      C
7   http://www.wikidata.org/entity/Q16340                  XPath
8   http://www.wikidata.org/entity/Q20479                   Agda
9   http://www.wikidata.org/entity/Q28865                 Python
10  http://www.wikidata.org/entity/Q32110                   XSLT
11  http://www.wikidata.org/entity/Q34280             Plankalkül
12  http://www.wikidata.org/entity/Q37227                     Go
13  http://www.wikidata.org/entity/Q41574                 PL/SQL
14  http://www.wikidata.org/entity/Q42478                   Perl
15  http://www.wikidata.org/entity/Q42979                  BASIC
16  http://www.wikidata.org/entity/Q47607                    SQL
17  http://www.wikidata.org/entity/Q51798                Clojure
18  http://www.wikidata.org/entity/Q58329              HyperTalk
19  http://www.wikidata.org/entity/Q79598                Cyclone

In [75]:
from pandas.io.json import json_normalize
import pandas as pd
import json

data = json.load(open('query.json'))
dataframe = json_normalize(data)
print(dataframe)

                              instance_of       instance_ofLabel
0    http://www.wikidata.org/entity/Q2366            AngelScript
1    http://www.wikidata.org/entity/Q2378           Visual Basic
2    http://www.wikidata.org/entity/Q2407                    C++
3    http://www.wikidata.org/entity/Q5288  Tool Command Language
4    http://www.wikidata.org/entity/Q5301                    TeX
5   http://www.wikidata.org/entity/Q13743    Visual Basic Script
6   http://www.wikidata.org/entity/Q15777                      C
7   http://www.wikidata.org/entity/Q16340                  XPath
8   http://www.wikidata.org/entity/Q20479                   Agda
9   http://www.wikidata.org/entity/Q28865                 Python
10  http://www.wikidata.org/entity/Q32110                   XSLT
11  http://www.wikidata.org/entity/Q34280             Plankalkül
12  http://www.wikidata.org/entity/Q37227                     Go
13  http://www.wikidata.org/entity/Q41574                 PL/SQL
14  http://www.wikidata.org/entity/Q42478                   Perl
15  http://www.wikidata.org/entity/Q42979                  BASIC
16  http://www.wikidata.org/entity/Q47607                    SQL
17  http://www.wikidata.org/entity/Q51798                Clojure
18  http://www.wikidata.org/entity/Q58329              HyperTalk
19  http://www.wikidata.org/entity/Q79598                Cyclone

In [14]:
from pandas.io.json import json_normalize
import pandas as pd
import json

data = json.load(open('query.json'))
dataframe = json_normalize(data)
print(dataframe)

                              instance_of       instance_ofLabel
0    http://www.wikidata.org/entity/Q2366            AngelScript
1    http://www.wikidata.org/entity/Q2378           Visual Basic
2    http://www.wikidata.org/entity/Q2407                    C++
3    http://www.wikidata.org/entity/Q5288  Tool Command Language
4    http://www.wikidata.org/entity/Q5301                    TeX
5   http://www.wikidata.org/entity/Q13743    Visual Basic Script
6   http://www.wikidata.org/entity/Q15777                      C
7   http://www.wikidata.org/entity/Q16340                  XPath
8   http://www.wikidata.org/entity/Q20479                   Agda
9   http://www.wikidata.org/entity/Q28865                 Python
10  http://www.wikidata.org/entity/Q32110                   XSLT
11  http://www.wikidata.org/entity/Q34280             Plankalkül
12  http://www.wikidata.org/entity/Q37227                     Go
13  http://www.wikidata.org/entity/Q41574                 PL/SQL
14  http://www.wikidata.org/entity/Q42478                   Perl
15  http://www.wikidata.org/entity/Q42979                  BASIC
16  http://www.wikidata.org/entity/Q47607                    SQL
17  http://www.wikidata.org/entity/Q51798                Clojure
18  http://www.wikidata.org/entity/Q58329              HyperTalk
19  http://www.wikidata.org/entity/Q79598                Cyclone

In [84]:
from pandas.io.json import json_normalize
import pandas as pd
import json

data = json.load(open('pl.json'))
dataframe = json_normalize(data)
grouped = dataframe.groupby('year').count()
print(grouped)

      languageLabel
year
1943              1
1946              2
1947              1
1948              3
1949              2
1950              3
1951             11
1952              4
1953              2
1954              6
1955              7
1956              2
1957              4
1958              5
1959              6
1960              4
1961              1
1962              5
1963              2
1964              9
1965              3
1966              9
1967              7
1968              1

In [83]:
from pandas.io.json import json_normalize
import pandas as pd
import json

data = json.load(open('pl.json'))
dataframe = json_normalize(data)
grouped = dataframe.groupby('year').count()
print(grouped)

      languageLabel
year
1943              1
1946              2
1947              1
1948              3
1949              2
1950              3
1951             11
1952              4
1953              2
1954              6
1955              7
1956              2
1957              4
1958              5
1959              6
1960              4
1961              1
1962              5
1963              2
1964              9
1965              3
1966              9
1967              7
1968              1

In [82]:
from pandas.io.json import json_normalize
import pandas as pd
import json

data = json.load(open('pl.json'))
dataframe = json_normalize(data)
grouped = dataframe.groupby('year').count()
print(grouped)

      languageLabel
year
1943              1
1946              2
1947              1
1948              3
1949              2
1950              3
1951             11
1952              4
1953              2
1954              6
1955              7
1956              2
1957              4
1958              5
1959              6
1960              4
1961              1
1962              5
1963              2
1964              9
1965              3
1966              9
1967              7
1968              1

In [81]:
from pandas.io.json import json_normalize
import pandas as pd
import json

data = json.load(open('pl.json'))
dataframe = json_normalize(data)
grouped = dataframe.groupby('year').count()
print(grouped)

      languageLabel
year
1943              1
1946              2
1947              1
1948              3
1949              2
1950              3
1951             11
1952              4
1953              2
1954              6
1955              7
1956              2
1957              4
1958              5
1959              6
1960              4
1961              1
1962              5
1963              2
1964              9
1965              3
1966              9
1967              7
1968              1

In [80]:
from pandas.io.json import json_normalize
import pandas as pd
import json

data = json.load(open('pl.json'))
dataframe = json_normalize(data)
grouped = dataframe.groupby('year').count()
print(grouped)

      languageLabel
year
1943              1
1946              2
1947              1
1948              3
1949              2
1950              3
1951             11
1952              4
1953              2
1954              6
1955              7
1956              2
1957              4
1958              5
1959              6
1960              4
1961              1
1962              5
1963              2
1964              9
1965              3
1966              9
1967              7
1968              1

In [79]:
from pandas.io.json import json_normalize
import pandas as pd
import json

data = json.load(open('pl.json'))
dataframe = json_normalize(data)
grouped = dataframe.groupby('year').count()
print(grouped)

      languageLabel
year
1943              1
1946              2
1947              1
1948              3
1949              2
1950              3
1951             11
1952              4
1953              2
1954              6
1955              7
1956              2
1957              4
1958              5
1959              6
1960              4
1961              1
1962              5
1963              2
1964              9
1965              3
1966              9
1967              7
1968              1

In [78]:
from pandas.io.json import json_normalize
import pandas as pd
import json

data = json.load(open('pl.json'))
dataframe = json_normalize(data)
grouped = dataframe.groupby('year').count()
print(grouped)

      languageLabel
year
1943              1
1946              2
1947              1
1948              3
1949              2
1950              3
1951             11
1952              4
1953              2
1954              6
1955              7
1956              2
1957              4
1958              5
1959              6
1960              4
1961              1
1962              5
1963              2
1964              9
1965              3
1966              9
1967              7
1968              1

In [77]:
from pandas.io.json import json_normalize
import pandas as pd
import json

data = json.load(open('pl.json'))
dataframe = json_normalize(data)
grouped = dataframe.groupby('year').count()
print(grouped)

      languageLabel
year
1943              1
1946              2
1947              1
1948              3
1949              2
1950              3
1951             11
1952              4
1953              2
1954              6
1955              7
1956              2
1957              4
1958              5
1959              6
1960              4
1961              1
1962              5
1963              2
1964              9
1965              3
1966              9
1967              7
1968              1

In [26]:
from pandas.io.json import json_normalize
import pandas as pd
import json

data = json.load(open('pl.json'))
dataframe = json_normalize(data)
grouped = dataframe.groupby('year').count()
print(grouped)

      languageLabel
year
1943              1
1946              2
1947              1
1948              3
1949              2
1950              3
1951             11
1952              4
1953              2
1954              6
1955              7
1956              2
1957              4
1958              5
1959              6
1960              4
1961              1
1962              5
1963              2
1964              9
1965              3
1966              9
1967              7
1968              1

In [27]:
from pandas.io.json import json_normalize
import pandas as pd
import json

data = json.load(open('pl.json'))
dataframe = json_normalize(data)
grouped = dataframe.groupby('year').agg(['count'])
print(grouped)

     languageLabel
             count
year
1943             1
1946             2
1947             1
1948             3
1949             2
1950             3
1951            11
1952             4
1953             2
1954             6
1955             7
1956             2
1957             4
1958             5
1959             6
1960             4
1961             1
1962             5
1963             2
1964             9
1965             3
1966             9
1967             7
1968             1

In [32]:
from pandas.io.json import json_normalize
import pandas as pd
import json

jsondata = json.load(open('plparadigm.json'))
array = []

for data in jsondata:
  array.append([data['year'], data['languageLabel'], data['paradigmLabel']])
dataframe = pd.DataFrame(array, columns=['year', 'languageLabel', 'paradigmLabel'])
dataframe = dataframe.astype(dtype= {"year" : "int64", "languageLabel" : "<U200", "paradigmLabel" : "<U200"})

grouped = dataframe.groupby(['year', 'paradigmLabel']).agg(['count'])
print(grouped)

                                            languageLabel
                                                    count
year paradigmLabel
1948 procedural programming                             1
1949 non-structured programming                         1
     procedural programming                             1
1950 procedural programming                             1
1953 procedural programming                             1
     structured programming                             1
1954 array programming                                  1
     generic programming                                1
     imperative programming                             2
     object-oriented programming                        1
     procedural programming                             1
     structured programming                             1
1955 imperative programming                             1
     procedural programming                             1
1956 assembly language                                  1
     procedural programming                             1
1957 array programming                                  1
     generic programming                                1
     imperative programming                             1
     object-oriented programming                        1
     procedural programming                             2
     structured programming                             1
1958 functional programming                             1
     imperative programming                             1
     metaprogramming                                    1
     multi-paradigm programming                         1
     procedural programming                             3
     reflective programming                             1
     structured programming                             1
1959 functional programming                             1
...                                                   ...
1962 multi-paradigm programming                         1
     object-oriented programming                        1
     structured programming                             1
1963 multi-paradigm programming                         1
     procedural programming                             1
1964 imperative programming                             3
     non-structured programming                         1
     procedural programming                             2
1966 array programming                                  1
     functional programming                             2
     imperative programming                             2
     modular programming                                1
     multi-paradigm programming                         2
     procedural programming                             5
     structured programming                             1
1967 functional programming                             1
     imperative programming                             1
     multi-paradigm programming                         2
     object-oriented programming                        1
     procedural programming                             2
1968 functional programming                             1
     pattern matching                                   1
     procedural programming                             3
1969 imperative programming                             1
     procedural programming                             1
1970 imperative programming                             1
     procedural programming                             1
     structured programming                             1
1971 functional programming                             1
     knowledge representation and reasoning             1

[73 rows x 1 columns]

In [86]:
from pandas.io.json import json_normalize
import pandas as pd
import json

jsondata = json.load(open('plparadigm.json'))
array = []

for data in jsondata:
  array.append([data['year'], data['languageLabel'], data['paradigmLabel']])
dataframe = pd.DataFrame(array, columns=['year', 'languageLabel', 'paradigmLabel'])
dataframe = dataframe.astype(dtype= {"year" : "int64", "languageLabel" : "<U200", "paradigmLabel" : "<U200"})

grouped = dataframe.groupby(['year', 'paradigmLabel']).agg(['count'])
print(grouped)

                                            languageLabel
                                                    count
year paradigmLabel
1948 procedural programming                             1
1949 non-structured programming                         1
     procedural programming                             1
1950 procedural programming                             1
1953 procedural programming                             1
     structured programming                             1
1954 array programming                                  1
     generic programming                                1
     imperative programming                             2
     object-oriented programming                        1
     procedural programming                             1
     structured programming                             1
1955 imperative programming                             1
     procedural programming                             1
1956 assembly language                                  1
     procedural programming                             1
1957 array programming                                  1
     generic programming                                1
     imperative programming                             1
     object-oriented programming                        1
     procedural programming                             2
     structured programming                             1
1958 functional programming                             1
     imperative programming                             1
     metaprogramming                                    1
     multi-paradigm programming                         1
     procedural programming                             3
     reflective programming                             1
     structured programming                             1
1959 functional programming                             1
...                                                   ...
1962 multi-paradigm programming                         1
     object-oriented programming                        1
     structured programming                             1
1963 multi-paradigm programming                         1
     procedural programming                             1
1964 imperative programming                             3
     non-structured programming                         1
     procedural programming                             2
1966 array programming                                  1
     functional programming                             2
     imperative programming                             2
     modular programming                                1
     multi-paradigm programming                         2
     procedural programming                             5
     structured programming                             1
1967 functional programming                             1
     imperative programming                             1
     multi-paradigm programming                         2
     object-oriented programming                        1
     procedural programming                             2
1968 functional programming                             1
     pattern matching                                   1
     procedural programming                             3
1969 imperative programming                             1
     procedural programming                             1
1970 imperative programming                             1
     procedural programming                             1
     structured programming                             1
1971 functional programming                             1
     knowledge representation and reasoning             1

[73 rows x 1 columns]

In [85]:
from pandas.io.json import json_normalize
import pandas as pd
import json

jsondata = json.load(open('plparadigm.json'))
array = []

for data in jsondata:
  array.append([data['year'], data['languageLabel'], data['paradigmLabel']])
dataframe = pd.DataFrame(array, columns=['year', 'languageLabel', 'paradigmLabel'])
dataframe = dataframe.astype(dtype= {"year" : "int64", "languageLabel" : "<U200", "paradigmLabel" : "<U200"})

grouped = dataframe.groupby(['year', 'paradigmLabel']).agg(['count'])
print(grouped)

                                            languageLabel
                                                    count
year paradigmLabel
1948 procedural programming                             1
1949 non-structured programming                         1
     procedural programming                             1
1950 procedural programming                             1
1953 procedural programming                             1
     structured programming                             1
1954 array programming                                  1
     generic programming                                1
     imperative programming                             2
     object-oriented programming                        1
     procedural programming                             1
     structured programming                             1
1955 imperative programming                             1
     procedural programming                             1
1956 assembly language                                  1
     procedural programming                             1
1957 array programming                                  1
     generic programming                                1
     imperative programming                             1
     object-oriented programming                        1
     procedural programming                             2
     structured programming                             1
1958 functional programming                             1
     imperative programming                             1
     metaprogramming                                    1
     multi-paradigm programming                         1
     procedural programming                             3
     reflective programming                             1
     structured programming                             1
1959 functional programming                             1
...                                                   ...
1962 multi-paradigm programming                         1
     object-oriented programming                        1
     structured programming                             1
1963 multi-paradigm programming                         1
     procedural programming                             1
1964 imperative programming                             3
     non-structured programming                         1
     procedural programming                             2
1966 array programming                                  1
     functional programming                             2
     imperative programming                             2
     modular programming                                1
     multi-paradigm programming                         2
     procedural programming                             5
     structured programming                             1
1967 functional programming                             1
     imperative programming                             1
     multi-paradigm programming                         2
     object-oriented programming                        1
     procedural programming                             2
1968 functional programming                             1
     pattern matching                                   1
     procedural programming                             3
1969 imperative programming                             1
     procedural programming                             1
1970 imperative programming                             1
     procedural programming                             1
     structured programming                             1
1971 functional programming                             1
     knowledge representation and reasoning             1

[73 rows x 1 columns]

In [33]:
from pandas.io.json import json_normalize
import pandas as pd
import json

jsondata = json.load(open('plparadigm.json'))
array = []

for data in jsondata:
  array.append([data['year'], data['languageLabel'], data['paradigmLabel']])
dataframe = pd.DataFrame(array, columns=['year', 'languageLabel', 'paradigmLabel'])
dataframe = dataframe.astype(dtype= {"year" : "int64", "languageLabel" : "<U200", "paradigmLabel" : "<U200"})

grouped = dataframe.groupby(['year', 'paradigmLabel']).agg(['count'])
print(grouped)

                                            languageLabel
                                                    count
year paradigmLabel
1948 procedural programming                             1
1949 non-structured programming                         1
     procedural programming                             1
1950 procedural programming                             1
1953 procedural programming                             1
     structured programming                             1
1954 array programming                                  1
     generic programming                                1
     imperative programming                             2
     object-oriented programming                        1
     procedural programming                             1
     structured programming                             1
1955 imperative programming                             1
     procedural programming                             1
1956 assembly language                                  1
     procedural programming                             1
1957 array programming                                  1
     generic programming                                1
     imperative programming                             1
     object-oriented programming                        1
     procedural programming                             2
     structured programming                             1
1958 functional programming                             1
     imperative programming                             1
     metaprogramming                                    1
     multi-paradigm programming                         1
     procedural programming                             3
     reflective programming                             1
     structured programming                             1
1959 functional programming                             1
...                                                   ...
1962 multi-paradigm programming                         1
     object-oriented programming                        1
     structured programming                             1
1963 multi-paradigm programming                         1
     procedural programming                             1
1964 imperative programming                             3
     non-structured programming                         1
     procedural programming                             2
1966 array programming                                  1
     functional programming                             2
     imperative programming                             2
     modular programming                                1
     multi-paradigm programming                         2
     procedural programming                             5
     structured programming                             1
1967 functional programming                             1
     imperative programming                             1
     multi-paradigm programming                         2
     object-oriented programming                        1
     procedural programming                             2
1968 functional programming                             1
     pattern matching                                   1
     procedural programming                             3
1969 imperative programming                             1
     procedural programming                             1
1970 imperative programming                             1
     procedural programming                             1
     structured programming                             1
1971 functional programming                             1
     knowledge representation and reasoning             1

[73 rows x 1 columns]

In [34]:
from pandas.io.json import json_normalize
import pandas as pd
import json

jsondata = json.load(open('plparadigm.json'))
array = []

for data in jsondata:
  array.append([data['year'], data['languageLabel'], data['paradigmLabel']])
dataframe = pd.DataFrame(array, columns=['year', 'languageLabel', 'paradigmLabel'])
dataframe = dataframe.astype(dtype= {"year" : "int64", "languageLabel" : "<U200", "paradigmLabel" : "<U200"})

grouped = dataframe.groupby(['paradigmLabel', 'year']).agg(['count'])
print(grouped)

                                            languageLabel
                                                    count
paradigmLabel                          year
array programming                      1954             1
                                       1957             1
                                       1962             1
                                       1966             1
assembly language                      1956             1
functional programming                 1958             1
                                       1959             1
                                       1962             1
                                       1966             2
                                       1967             1
                                       1968             1
                                       1971             1
generic programming                    1954             1
                                       1957             1
imperative programming                 1954             2
                                       1955             1
                                       1957             1
                                       1958             1
                                       1959             2
                                       1960             2
                                       1962             1
                                       1964             3
                                       1966             2
                                       1967             1
                                       1969             1
                                       1970             1
knowledge representation and reasoning 1971             1
metaprogramming                        1958             1
                                       1959             1
modular programming                    1962             1
...                                                   ...
object-oriented programming            1962             1
                                       1967             1
pattern matching                       1968             1
procedural programming                 1948             1
                                       1949             1
                                       1950             1
                                       1953             1
                                       1954             1
                                       1955             1
                                       1956             1
                                       1957             2
                                       1958             3
                                       1959             5
                                       1960             3
                                       1963             1
                                       1964             2
                                       1966             5
                                       1967             2
                                       1968             3
                                       1969             1
                                       1970             1
reflective programming                 1958             1
                                       1959             1
structured programming                 1953             1
                                       1954             1
                                       1957             1
                                       1958             1
                                       1962             1
                                       1966             1
                                       1970             1

[73 rows x 1 columns]

In [95]:
from pandas.io.json import json_normalize
import pandas as pd
import json

jsondata = json.load(open('countrie.json'))
array = []

for data in jsondata:
    array.append([data['year'], data['population'], data['countryLabel']])
dataframe = pd.DataFrame(array, columns=['year', 'population', 'countryLabel'])
dataframe = dataframe.astype(dtype= {"year" : "int64", "population" : "<U200", "countryLabel" : "<U200"})

grouped = dataframe.sort_values(['countryLabel', 'year'])
print(grouped)

     year population countryLabel
0    1960    8774440  Afghanistan
1    1961    8953544  Afghanistan
2    1962    9141783  Afghanistan
3    1963    9339507  Afghanistan
4    1964    9547131  Afghanistan
5    1965    9765015  Afghanistan
6    1966    9990125  Afghanistan
7    1967   10221902  Afghanistan
8    1968   10465770  Afghanistan
9    1969   10729191  Afghanistan
10   1970   11015621  Afghanistan
11   1971   11323446  Afghanistan
12   1972   11644377  Afghanistan
13   1973   11966352  Afghanistan
14   1974   12273589  Afghanistan
15   1975   12551790  Afghanistan
16   1976   12806810  Afghanistan
17   1977   13034460  Afghanistan
18   1978   13199597  Afghanistan
19   1979   15500000  Afghanistan
20   1979   13257128  Afghanistan
21   1980   13180431  Afghanistan
22   1981   12963788  Afghanistan
23   1982   12634494  Afghanistan
24   1983   12241928  Afghanistan
25   1984   11854205  Afghanistan
26   1985   11528977  Afghanistan
27   1986   11262439  Afghanistan
28   1987   11063107  Afghanistan
29   1988   11013345  Afghanistan
..    ...        ...          ...
970  1971    4321324      Bolivia
971  1972    4429194      Bolivia
972  1973    4540197      Bolivia
973  1974    4653409      Bolivia
974  1975    4768177      Bolivia
975  1976    4884284      Bolivia
976  1977    5001971      Bolivia
977  1978    5121608      Bolivia
978  1979    5243771      Bolivia
979  1980    5368901      Bolivia
980  1981    5497112      Bolivia
981  1982    5628347      Bolivia
982  1983    5762673      Bolivia
983  1984    5900127      Bolivia
984  1985    6040757      Bolivia
985  1986    6184440      Bolivia
986  1987    6331219      Bolivia
987  1988    6481463      Bolivia
988  1989    6635658      Bolivia
989  1990    6794046      Bolivia
990  1991    6956736      Bolivia
991  1992    7123294      Bolivia
992  1993    7292745      Bolivia
993  1994    7463773      Bolivia
994  1995    7635362      Bolivia
995  1996    7806953      Bolivia
996  1997    7978521      Bolivia
997  1998    8150214      Bolivia
998  1999    8322408      Bolivia
999  2000    8495271      Bolivia

[1000 rows x 3 columns]

In [94]:
from pandas.io.json import json_normalize
import pandas as pd
import json

jsondata = json.load(open('countrie.json'))
array = []

for data in jsondata:
    array.append([data['year'], data['population'], data['countryLabel']])
dataframe = pd.DataFrame(array, columns=['year', 'population', 'countryLabel'])
dataframe = dataframe.astype(dtype= {"year" : "int64", "population" : "<U200", "countryLabel" : "<U200"})

grouped = dataframe.sort_values(['countryLabel', 'year'])
print(grouped)

     year population countryLabel
0    1960    8774440  Afghanistan
1    1961    8953544  Afghanistan
2    1962    9141783  Afghanistan
3    1963    9339507  Afghanistan
4    1964    9547131  Afghanistan
5    1965    9765015  Afghanistan
6    1966    9990125  Afghanistan
7    1967   10221902  Afghanistan
8    1968   10465770  Afghanistan
9    1969   10729191  Afghanistan
10   1970   11015621  Afghanistan
11   1971   11323446  Afghanistan
12   1972   11644377  Afghanistan
13   1973   11966352  Afghanistan
14   1974   12273589  Afghanistan
15   1975   12551790  Afghanistan
16   1976   12806810  Afghanistan
17   1977   13034460  Afghanistan
18   1978   13199597  Afghanistan
19   1979   15500000  Afghanistan
20   1979   13257128  Afghanistan
21   1980   13180431  Afghanistan
22   1981   12963788  Afghanistan
23   1982   12634494  Afghanistan
24   1983   12241928  Afghanistan
25   1984   11854205  Afghanistan
26   1985   11528977  Afghanistan
27   1986   11262439  Afghanistan
28   1987   11063107  Afghanistan
29   1988   11013345  Afghanistan
..    ...        ...          ...
970  1971    4321324      Bolivia
971  1972    4429194      Bolivia
972  1973    4540197      Bolivia
973  1974    4653409      Bolivia
974  1975    4768177      Bolivia
975  1976    4884284      Bolivia
976  1977    5001971      Bolivia
977  1978    5121608      Bolivia
978  1979    5243771      Bolivia
979  1980    5368901      Bolivia
980  1981    5497112      Bolivia
981  1982    5628347      Bolivia
982  1983    5762673      Bolivia
983  1984    5900127      Bolivia
984  1985    6040757      Bolivia
985  1986    6184440      Bolivia
986  1987    6331219      Bolivia
987  1988    6481463      Bolivia
988  1989    6635658      Bolivia
989  1990    6794046      Bolivia
990  1991    6956736      Bolivia
991  1992    7123294      Bolivia
992  1993    7292745      Bolivia
993  1994    7463773      Bolivia
994  1995    7635362      Bolivia
995  1996    7806953      Bolivia
996  1997    7978521      Bolivia
997  1998    8150214      Bolivia
998  1999    8322408      Bolivia
999  2000    8495271      Bolivia

[1000 rows x 3 columns]

In [93]:
from pandas.io.json import json_normalize
import pandas as pd
import json

jsondata = json.load(open('countrie.json'))
array = []

for data in jsondata:
    array.append([data['year'], data['population'], data['countryLabel']])
dataframe = pd.DataFrame(array, columns=['year', 'population', 'countryLabel'])
dataframe = dataframe.astype(dtype= {"year" : "int64", "population" : "<U200", "countryLabel" : "<U200"})

grouped = dataframe.sort_values(['countryLabel', 'year'])
print(grouped)

     year population countryLabel
0    1960    8774440  Afghanistan
1    1961    8953544  Afghanistan
2    1962    9141783  Afghanistan
3    1963    9339507  Afghanistan
4    1964    9547131  Afghanistan
5    1965    9765015  Afghanistan
6    1966    9990125  Afghanistan
7    1967   10221902  Afghanistan
8    1968   10465770  Afghanistan
9    1969   10729191  Afghanistan
10   1970   11015621  Afghanistan
11   1971   11323446  Afghanistan
12   1972   11644377  Afghanistan
13   1973   11966352  Afghanistan
14   1974   12273589  Afghanistan
15   1975   12551790  Afghanistan
16   1976   12806810  Afghanistan
17   1977   13034460  Afghanistan
18   1978   13199597  Afghanistan
19   1979   15500000  Afghanistan
20   1979   13257128  Afghanistan
21   1980   13180431  Afghanistan
22   1981   12963788  Afghanistan
23   1982   12634494  Afghanistan
24   1983   12241928  Afghanistan
25   1984   11854205  Afghanistan
26   1985   11528977  Afghanistan
27   1986   11262439  Afghanistan
28   1987   11063107  Afghanistan
29   1988   11013345  Afghanistan
..    ...        ...          ...
970  1971    4321324      Bolivia
971  1972    4429194      Bolivia
972  1973    4540197      Bolivia
973  1974    4653409      Bolivia
974  1975    4768177      Bolivia
975  1976    4884284      Bolivia
976  1977    5001971      Bolivia
977  1978    5121608      Bolivia
978  1979    5243771      Bolivia
979  1980    5368901      Bolivia
980  1981    5497112      Bolivia
981  1982    5628347      Bolivia
982  1983    5762673      Bolivia
983  1984    5900127      Bolivia
984  1985    6040757      Bolivia
985  1986    6184440      Bolivia
986  1987    6331219      Bolivia
987  1988    6481463      Bolivia
988  1989    6635658      Bolivia
989  1990    6794046      Bolivia
990  1991    6956736      Bolivia
991  1992    7123294      Bolivia
992  1993    7292745      Bolivia
993  1994    7463773      Bolivia
994  1995    7635362      Bolivia
995  1996    7806953      Bolivia
996  1997    7978521      Bolivia
997  1998    8150214      Bolivia
998  1999    8322408      Bolivia
999  2000    8495271      Bolivia

[1000 rows x 3 columns]

In [92]:
from pandas.io.json import json_normalize
import pandas as pd
import json

jsondata = json.load(open('countrie.json'))
array = []

for data in jsondata:
    array.append([data['year'], data['population'], data['countryLabel']])
dataframe = pd.DataFrame(array, columns=['year', 'population', 'countryLabel'])
dataframe = dataframe.astype(dtype= {"year" : "int64", "population" : "<U200", "countryLabel" : "<U200"})

grouped = dataframe.sort_values(['countryLabel', 'year'])
print(grouped)

     year population countryLabel
0    1960    8774440  Afghanistan
1    1961    8953544  Afghanistan
2    1962    9141783  Afghanistan
3    1963    9339507  Afghanistan
4    1964    9547131  Afghanistan
5    1965    9765015  Afghanistan
6    1966    9990125  Afghanistan
7    1967   10221902  Afghanistan
8    1968   10465770  Afghanistan
9    1969   10729191  Afghanistan
10   1970   11015621  Afghanistan
11   1971   11323446  Afghanistan
12   1972   11644377  Afghanistan
13   1973   11966352  Afghanistan
14   1974   12273589  Afghanistan
15   1975   12551790  Afghanistan
16   1976   12806810  Afghanistan
17   1977   13034460  Afghanistan
18   1978   13199597  Afghanistan
19   1979   15500000  Afghanistan
20   1979   13257128  Afghanistan
21   1980   13180431  Afghanistan
22   1981   12963788  Afghanistan
23   1982   12634494  Afghanistan
24   1983   12241928  Afghanistan
25   1984   11854205  Afghanistan
26   1985   11528977  Afghanistan
27   1986   11262439  Afghanistan
28   1987   11063107  Afghanistan
29   1988   11013345  Afghanistan
..    ...        ...          ...
970  1971    4321324      Bolivia
971  1972    4429194      Bolivia
972  1973    4540197      Bolivia
973  1974    4653409      Bolivia
974  1975    4768177      Bolivia
975  1976    4884284      Bolivia
976  1977    5001971      Bolivia
977  1978    5121608      Bolivia
978  1979    5243771      Bolivia
979  1980    5368901      Bolivia
980  1981    5497112      Bolivia
981  1982    5628347      Bolivia
982  1983    5762673      Bolivia
983  1984    5900127      Bolivia
984  1985    6040757      Bolivia
985  1986    6184440      Bolivia
986  1987    6331219      Bolivia
987  1988    6481463      Bolivia
988  1989    6635658      Bolivia
989  1990    6794046      Bolivia
990  1991    6956736      Bolivia
991  1992    7123294      Bolivia
992  1993    7292745      Bolivia
993  1994    7463773      Bolivia
994  1995    7635362      Bolivia
995  1996    7806953      Bolivia
996  1997    7978521      Bolivia
997  1998    8150214      Bolivia
998  1999    8322408      Bolivia
999  2000    8495271      Bolivia

[1000 rows x 3 columns]

In [91]:
from pandas.io.json import json_normalize
import pandas as pd
import json

jsondata = json.load(open('countrie.json'))
array = []

for data in jsondata:
    array.append([data['year'], data['population'], data['countryLabel']])
dataframe = pd.DataFrame(array, columns=['year', 'population', 'countryLabel'])
dataframe = dataframe.astype(dtype= {"year" : "int64", "population" : "<U200", "countryLabel" : "<U200"})

grouped = dataframe.sort_values(['countryLabel', 'year'])
print(grouped)

     year population countryLabel
0    1960    8774440  Afghanistan
1    1961    8953544  Afghanistan
2    1962    9141783  Afghanistan
3    1963    9339507  Afghanistan
4    1964    9547131  Afghanistan
5    1965    9765015  Afghanistan
6    1966    9990125  Afghanistan
7    1967   10221902  Afghanistan
8    1968   10465770  Afghanistan
9    1969   10729191  Afghanistan
10   1970   11015621  Afghanistan
11   1971   11323446  Afghanistan
12   1972   11644377  Afghanistan
13   1973   11966352  Afghanistan
14   1974   12273589  Afghanistan
15   1975   12551790  Afghanistan
16   1976   12806810  Afghanistan
17   1977   13034460  Afghanistan
18   1978   13199597  Afghanistan
19   1979   15500000  Afghanistan
20   1979   13257128  Afghanistan
21   1980   13180431  Afghanistan
22   1981   12963788  Afghanistan
23   1982   12634494  Afghanistan
24   1983   12241928  Afghanistan
25   1984   11854205  Afghanistan
26   1985   11528977  Afghanistan
27   1986   11262439  Afghanistan
28   1987   11063107  Afghanistan
29   1988   11013345  Afghanistan
..    ...        ...          ...
970  1971    4321324      Bolivia
971  1972    4429194      Bolivia
972  1973    4540197      Bolivia
973  1974    4653409      Bolivia
974  1975    4768177      Bolivia
975  1976    4884284      Bolivia
976  1977    5001971      Bolivia
977  1978    5121608      Bolivia
978  1979    5243771      Bolivia
979  1980    5368901      Bolivia
980  1981    5497112      Bolivia
981  1982    5628347      Bolivia
982  1983    5762673      Bolivia
983  1984    5900127      Bolivia
984  1985    6040757      Bolivia
985  1986    6184440      Bolivia
986  1987    6331219      Bolivia
987  1988    6481463      Bolivia
988  1989    6635658      Bolivia
989  1990    6794046      Bolivia
990  1991    6956736      Bolivia
991  1992    7123294      Bolivia
992  1993    7292745      Bolivia
993  1994    7463773      Bolivia
994  1995    7635362      Bolivia
995  1996    7806953      Bolivia
996  1997    7978521      Bolivia
997  1998    8150214      Bolivia
998  1999    8322408      Bolivia
999  2000    8495271      Bolivia

[1000 rows x 3 columns]

In [90]:
from pandas.io.json import json_normalize
import pandas as pd
import json

jsondata = json.load(open('countrie.json'))
array = []

for data in jsondata:
    array.append([data['year'], data['population'], data['countryLabel']])
dataframe = pd.DataFrame(array, columns=['year', 'population', 'countryLabel'])
dataframe = dataframe.astype(dtype= {"year" : "int64", "population" : "<U200", "countryLabel" : "<U200"})

grouped = dataframe.sort_values(['countryLabel', 'year'])
print(grouped)

     year population countryLabel
0    1960    8774440  Afghanistan
1    1961    8953544  Afghanistan
2    1962    9141783  Afghanistan
3    1963    9339507  Afghanistan
4    1964    9547131  Afghanistan
5    1965    9765015  Afghanistan
6    1966    9990125  Afghanistan
7    1967   10221902  Afghanistan
8    1968   10465770  Afghanistan
9    1969   10729191  Afghanistan
10   1970   11015621  Afghanistan
11   1971   11323446  Afghanistan
12   1972   11644377  Afghanistan
13   1973   11966352  Afghanistan
14   1974   12273589  Afghanistan
15   1975   12551790  Afghanistan
16   1976   12806810  Afghanistan
17   1977   13034460  Afghanistan
18   1978   13199597  Afghanistan
19   1979   15500000  Afghanistan
20   1979   13257128  Afghanistan
21   1980   13180431  Afghanistan
22   1981   12963788  Afghanistan
23   1982   12634494  Afghanistan
24   1983   12241928  Afghanistan
25   1984   11854205  Afghanistan
26   1985   11528977  Afghanistan
27   1986   11262439  Afghanistan
28   1987   11063107  Afghanistan
29   1988   11013345  Afghanistan
..    ...        ...          ...
970  1971    4321324      Bolivia
971  1972    4429194      Bolivia
972  1973    4540197      Bolivia
973  1974    4653409      Bolivia
974  1975    4768177      Bolivia
975  1976    4884284      Bolivia
976  1977    5001971      Bolivia
977  1978    5121608      Bolivia
978  1979    5243771      Bolivia
979  1980    5368901      Bolivia
980  1981    5497112      Bolivia
981  1982    5628347      Bolivia
982  1983    5762673      Bolivia
983  1984    5900127      Bolivia
984  1985    6040757      Bolivia
985  1986    6184440      Bolivia
986  1987    6331219      Bolivia
987  1988    6481463      Bolivia
988  1989    6635658      Bolivia
989  1990    6794046      Bolivia
990  1991    6956736      Bolivia
991  1992    7123294      Bolivia
992  1993    7292745      Bolivia
993  1994    7463773      Bolivia
994  1995    7635362      Bolivia
995  1996    7806953      Bolivia
996  1997    7978521      Bolivia
997  1998    8150214      Bolivia
998  1999    8322408      Bolivia
999  2000    8495271      Bolivia

[1000 rows x 3 columns]

In [47]:
from pandas.io.json import json_normalize
import pandas as pd
import json

jsondata = json.load(open('countrie.json'))
array = []

for data in jsondata:
    array.append([data['year'], data['population'], data['countryLabel']])
dataframe = pd.DataFrame(array, columns=['year', 'population', 'countryLabel'])
dataframe = dataframe.astype(dtype= {"year" : "int64", "population" : "<U200", "countryLabel" : "<U200"})

grouped = dataframe.sort_values(['countryLabel', 'year'])
print(grouped)

     year population countryLabel
0    1960    8774440  Afghanistan
1    1961    8953544  Afghanistan
2    1962    9141783  Afghanistan
3    1963    9339507  Afghanistan
4    1964    9547131  Afghanistan
5    1965    9765015  Afghanistan
6    1966    9990125  Afghanistan
7    1967   10221902  Afghanistan
8    1968   10465770  Afghanistan
9    1969   10729191  Afghanistan
10   1970   11015621  Afghanistan
11   1971   11323446  Afghanistan
12   1972   11644377  Afghanistan
13   1973   11966352  Afghanistan
14   1974   12273589  Afghanistan
15   1975   12551790  Afghanistan
16   1976   12806810  Afghanistan
17   1977   13034460  Afghanistan
18   1978   13199597  Afghanistan
19   1979   15500000  Afghanistan
20   1979   13257128  Afghanistan
21   1980   13180431  Afghanistan
22   1981   12963788  Afghanistan
23   1982   12634494  Afghanistan
24   1983   12241928  Afghanistan
25   1984   11854205  Afghanistan
26   1985   11528977  Afghanistan
27   1986   11262439  Afghanistan
28   1987   11063107  Afghanistan
29   1988   11013345  Afghanistan
..    ...        ...          ...
970  1971    4321324      Bolivia
971  1972    4429194      Bolivia
972  1973    4540197      Bolivia
973  1974    4653409      Bolivia
974  1975    4768177      Bolivia
975  1976    4884284      Bolivia
976  1977    5001971      Bolivia
977  1978    5121608      Bolivia
978  1979    5243771      Bolivia
979  1980    5368901      Bolivia
980  1981    5497112      Bolivia
981  1982    5628347      Bolivia
982  1983    5762673      Bolivia
983  1984    5900127      Bolivia
984  1985    6040757      Bolivia
985  1986    6184440      Bolivia
986  1987    6331219      Bolivia
987  1988    6481463      Bolivia
988  1989    6635658      Bolivia
989  1990    6794046      Bolivia
990  1991    6956736      Bolivia
991  1992    7123294      Bolivia
992  1993    7292745      Bolivia
993  1994    7463773      Bolivia
994  1995    7635362      Bolivia
995  1996    7806953      Bolivia
996  1997    7978521      Bolivia
997  1998    8150214      Bolivia
998  1999    8322408      Bolivia
999  2000    8495271      Bolivia

[1000 rows x 3 columns]

In [48]:
from pandas.io.json import json_normalize
import pandas as pd
import json

jsondata = json.load(open('countrie.json'))
array = []

for data in jsondata:
    array.append([data['year'], data['population'], data['countryLabel']])
dataframe = pd.DataFrame(array, columns=['year', 'population', 'countryLabel'])
dataframe = dataframe.astype(dtype= {"year" : "int64", "population" : "<U200", "countryLabel" : "<U200"})

grouped = dataframe.sort_values(['year', 'population'])
print(grouped)

     year population         countryLabel
330  1895    3954911            Argentina
166  1910       5231              Andorra
331  1910    7091822            Argentina
111  1960   11277757              Algeria
167  1960      13414              Andorra
56   1960    1608800              Albania
558  1960     162501              Bahrain
387  1960    1867396              Armenia
332  1960   20623998            Argentina
905  1960     224155               Bhutan
666  1960     230858             Barbados
851  1960    2431620                Benin
959  1960    3353125              Bolivia
504  1960    3897889           Azerbaijan
612  1960   49537147           Bangladesh
222  1960    4965988               Angola
276  1960      54681  Antigua and Barbuda
449  1960    7047539              Austria
0    1960    8774440          Afghanistan
725  1960    9153489              Belgium
793  1960      92068               Belize
112  1961   11560650              Algeria
168  1961      14376              Andorra
57   1961    1659800              Albania
559  1961     167924              Bahrain
388  1961    1934239              Armenia
333  1961   20959241            Argentina
906  1961     229348               Bhutan
667  1961     231599             Barbados
852  1961    2466002                Benin
..    ...        ...                  ...
665  2013  156594962           Bangladesh
275  2013   21471618               Angola
445  2013   23035199            Australia
446  2013   23130931            Australia
719  2013     284644             Barbados
109  2013    2897366              Albania
440  2013    2976566              Armenia
54   2013   30551674          Afghanistan
55   2013   31822848          Afghanistan
849  2013     331900               Belize
164  2013   39208194              Algeria
385  2013   41446246            Argentina
958  2013     753947               Bhutan
220  2013      79218              Andorra
502  2013    8479823              Austria
329  2013      89985  Antigua and Barbuda
557  2013    9416801           Azerbaijan
792  2014   11150516              Belgium
110  2014    3020209              Albania
165  2014   38813722              Algeria
503  2014    8572895              Austria
721  2014    9468171              Belarus
722  2014    9475100              Belarus
386  2015   43417000            Argentina
723  2015    9494200              Belarus
447  2016   23401892            Australia
850  2016     366954               Belize
221  2016     78.264              Andorra
448  2017   24511800            Australia
724  2017    9504700              Belarus

[1000 rows x 3 columns]

In [89]:
from pandas.io.json import json_normalize
import pandas as pd
import json

jsondata = json.load(open('countrie.json'))
array = []

for data in jsondata:
    array.append([data['year'], data['population'], data['countryLabel']])
dataframe = pd.DataFrame(array, columns=['year', 'population', 'countryLabel'])
dataframe = dataframe.astype(dtype= {"year" : "int64", "population" : "<U200", "countryLabel" : "<U200"})

grouped = dataframe.groupby(['countryLabel','year']).agg(['last'])

print(grouped)

                  population
                        last
countryLabel year
Afghanistan  1960    8774440
             1961    8953544
             1962    9141783
             1963    9339507
             1964    9547131
             1965    9765015
             1966    9990125
             1967   10221902
             1968   10465770
             1969   10729191
             1970   11015621
             1971   11323446
             1972   11644377
             1973   11966352
             1974   12273589
             1975   12551790
             1976   12806810
             1977   13034460
             1978   13199597
             1979   13257128
             1980   13180431
             1981   12963788
             1982   12634494
             1983   12241928
             1984   11854205
             1985   11528977
             1986   11262439
             1987   11063107
             1988   11013345
             1989   11215323
...                      ...
Bolivia      1971    4321324
             1972    4429194
             1973    4540197
             1974    4653409
             1975    4768177
             1976    4884284
             1977    5001971
             1978    5121608
             1979    5243771
             1980    5368901
             1981    5497112
             1982    5628347
             1983    5762673
             1984    5900127
             1985    6040757
             1986    6184440
             1987    6331219
             1988    6481463
             1989    6635658
             1990    6794046
             1991    6956736
             1992    7123294
             1993    7292745
             1994    7463773
             1995    7635362
             1996    7806953
             1997    7978521
             1998    8150214
             1999    8322408
             2000    8495271

[977 rows x 1 columns]

In [88]:
from pandas.io.json import json_normalize
import pandas as pd
import json

jsondata = json.load(open('countrie.json'))
array = []

for data in jsondata:
    array.append([data['year'], data['population'], data['countryLabel']])
dataframe = pd.DataFrame(array, columns=['year', 'population', 'countryLabel'])
dataframe = dataframe.astype(dtype= {"year" : "int64", "population" : "<U200", "countryLabel" : "<U200"})

grouped = dataframe.groupby(['countryLabel','year']).agg(['last'])

print(grouped)

                  population
                        last
countryLabel year
Afghanistan  1960    8774440
             1961    8953544
             1962    9141783
             1963    9339507
             1964    9547131
             1965    9765015
             1966    9990125
             1967   10221902
             1968   10465770
             1969   10729191
             1970   11015621
             1971   11323446
             1972   11644377
             1973   11966352
             1974   12273589
             1975   12551790
             1976   12806810
             1977   13034460
             1978   13199597
             1979   13257128
             1980   13180431
             1981   12963788
             1982   12634494
             1983   12241928
             1984   11854205
             1985   11528977
             1986   11262439
             1987   11063107
             1988   11013345
             1989   11215323
...                      ...
Bolivia      1971    4321324
             1972    4429194
             1973    4540197
             1974    4653409
             1975    4768177
             1976    4884284
             1977    5001971
             1978    5121608
             1979    5243771
             1980    5368901
             1981    5497112
             1982    5628347
             1983    5762673
             1984    5900127
             1985    6040757
             1986    6184440
             1987    6331219
             1988    6481463
             1989    6635658
             1990    6794046
             1991    6956736
             1992    7123294
             1993    7292745
             1994    7463773
             1995    7635362
             1996    7806953
             1997    7978521
             1998    8150214
             1999    8322408
             2000    8495271

[977 rows x 1 columns]

In [87]:
from pandas.io.json import json_normalize
import pandas as pd
import json

jsondata = json.load(open('countrie.json'))
array = []

for data in jsondata:
    array.append([data['year'], data['population'], data['countryLabel']])
dataframe = pd.DataFrame(array, columns=['year', 'population', 'countryLabel'])
dataframe = dataframe.astype(dtype= {"year" : "int64", "population" : "<U200", "countryLabel" : "<U200"})

grouped = dataframe.groupby(['countryLabel','year']).agg(['last'])

print(grouped)

                  population
                        last
countryLabel year
Afghanistan  1960    8774440
             1961    8953544
             1962    9141783
             1963    9339507
             1964    9547131
             1965    9765015
             1966    9990125
             1967   10221902
             1968   10465770
             1969   10729191
             1970   11015621
             1971   11323446
             1972   11644377
             1973   11966352
             1974   12273589
             1975   12551790
             1976   12806810
             1977   13034460
             1978   13199597
             1979   13257128
             1980   13180431
             1981   12963788
             1982   12634494
             1983   12241928
             1984   11854205
             1985   11528977
             1986   11262439
             1987   11063107
             1988   11013345
             1989   11215323
...                      ...
Bolivia      1971    4321324
             1972    4429194
             1973    4540197
             1974    4653409
             1975    4768177
             1976    4884284
             1977    5001971
             1978    5121608
             1979    5243771
             1980    5368901
             1981    5497112
             1982    5628347
             1983    5762673
             1984    5900127
             1985    6040757
             1986    6184440
             1987    6331219
             1988    6481463
             1989    6635658
             1990    6794046
             1991    6956736
             1992    7123294
             1993    7292745
             1994    7463773
             1995    7635362
             1996    7806953
             1997    7978521
             1998    8150214
             1999    8322408
             2000    8495271

[977 rows x 1 columns]

In [54]:
from pandas.io.json import json_normalize
import pandas as pd
import json

jsondata = json.load(open('countrie.json'))
array = []

for data in jsondata:
    array.append([data['year'], data['population'], data['countryLabel']])
dataframe = pd.DataFrame(array, columns=['year', 'population', 'countryLabel'])
dataframe = dataframe.astype(dtype= {"year" : "int64", "population" : "<U200", "countryLabel" : "<U200"})

grouped = dataframe.groupby(['countryLabel','year']).agg(['last'])

print(grouped)

                  population
                        last
countryLabel year
Afghanistan  1960    8774440
             1961    8953544
             1962    9141783
             1963    9339507
             1964    9547131
             1965    9765015
             1966    9990125
             1967   10221902
             1968   10465770
             1969   10729191
             1970   11015621
             1971   11323446
             1972   11644377
             1973   11966352
             1974   12273589
             1975   12551790
             1976   12806810
             1977   13034460
             1978   13199597
             1979   13257128
             1980   13180431
             1981   12963788
             1982   12634494
             1983   12241928
             1984   11854205
             1985   11528977
             1986   11262439
             1987   11063107
             1988   11013345
             1989   11215323
...                      ...
Bolivia      1971    4321324
             1972    4429194
             1973    4540197
             1974    4653409
             1975    4768177
             1976    4884284
             1977    5001971
             1978    5121608
             1979    5243771
             1980    5368901
             1981    5497112
             1982    5628347
             1983    5762673
             1984    5900127
             1985    6040757
             1986    6184440
             1987    6331219
             1988    6481463
             1989    6635658
             1990    6794046
             1991    6956736
             1992    7123294
             1993    7292745
             1994    7463773
             1995    7635362
             1996    7806953
             1997    7978521
             1998    8150214
             1999    8322408
             2000    8495271

[977 rows x 1 columns]

In [66]:
from pandas.io.json import json_normalize
import pandas as pd
import json

jsondata = json.load(open('countrie.json'))
array = []

for data in jsondata:
    array.append([data['year'], data['population'], data['countryLabel']])
dataframe = pd.DataFrame(array, columns=['year', 'population', 'countryLabel'])
dataframe = dataframe.astype(dtype= {"year" : "int64", "population" : "<U200", "countryLabel" : "<U200"})

grouped = dataframe.groupby('countryLabel').agg('last')

print(grouped)

                     year population
countryLabel
Afghanistan          2013   31822848
Albania              2014    3020209
Algeria              2014   38813722
Andorra              2016     78.264
Angola               2013   21471618
Antigua and Barbuda  2013      89985
Argentina            2015   43417000
Armenia              2013    2976566
Australia            2017   24511800
Austria              2014    8572895
Azerbaijan           2013    9416801
Bahrain              2013    1332171
Bangladesh           2013  156594962
Barbados             2013     284644
Belarus              2017    9504700
Belgium              2014   11150516
Belize               2016     366954
Benin                2013   10323474
Bhutan               2013     753947
Bolivia              2000    8495271

In [113]:
from pandas.io.json import json_normalize
import pandas as pd
import json

jsondata = json.load(open('countrie.json'))
array = []

for data in jsondata:
    array.append([data['year'], data['population'], data['countryLabel']])
dataframe = pd.DataFrame(array, columns=['year', 'population', 'countryLabel'])
dataframe = dataframe.astype(dtype= {"year" : "int64", "population" : "int64", "countryLabel" : "<U200"})

grouped = dataframe.groupby('countryLabel').agg('last')

print(grouped)

                     year  population
countryLabel
Afghanistan          2013    31822848
Albania              2014     3020209
Algeria              2014    38813722
Andorra              2016       78264
Angola               2013    21471618
Antigua and Barbuda  2013       89985
Argentina            2015    43417000
Armenia              2013     2976566
Australia            2017    24511800
Austria              2014     8572895
Azerbaijan           2013     9416801
Bahrain              2013     1332171
Bangladesh           2013   156594962
Barbados             2013      284644
Belarus              2017     9504700
Belgium              2014    11150516
Belize               2016      366954
Benin                2013    10323474
Bhutan               2013      753947
Bolivia              2000     8495271

In [114]:
grouped = grouped.sort_values('population')
print(grouped)

                     year  population
countryLabel
Andorra              2016       78264
Antigua and Barbuda  2013       89985
Barbados             2013      284644
Belize               2016      366954
Bhutan               2013      753947
Bahrain              2013     1332171
Armenia              2013     2976566
Albania              2014     3020209
Bolivia              2000     8495271
Austria              2014     8572895
Azerbaijan           2013     9416801
Belarus              2017     9504700
Benin                2013    10323474
Belgium              2014    11150516
Angola               2013    21471618
Australia            2017    24511800
Afghanistan          2013    31822848
Algeria              2014    38813722
Argentina            2015    43417000
Bangladesh           2013   156594962

In [115]:
grouped.tail(1)

              year  population
countryLabel
Bangladesh    2013   156594962

In [116]:
grouped.head(1)

              year  population
countryLabel
Andorra       2016       78264